.input-wrapper {
	position: relative;
}
label {
    z-index: 100;
    position: absolute;
    left: 15px;
    top: 0px;
    cursor: text;
    font: 18px/2.5 Tahoma-Regular, Arial, sans-serif;
    color: #868787;
}
/*-----------MAP------------*/
#map {
	width: 100%;
	height: 700px;
}