@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    z-index: 99;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 75%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #dc4234;
    transition: 0.3s all;
}
.slick-prev:before,
.slick-next:before
{
    width: 0;
    height: 0;
    top: 10px;
    left: 12px;
    transform: rotate(90deg);
    position: absolute;
    border-style: solid;
    border-width: 0px 11px 22px 11px;
    border-color: transparent transparent #fff transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.3s all;
}
.slick-prev:before {
    transform: rotate(270deg);
    left: 7px;
}

.slick-prev
{
    left: -60px;
}
[dir='rtl'] .slick-prev
{
    right: -60px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -60px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -60px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slick-next:hover , .slick-prev:hover {
    background: #f4e200;
}.slick-next:hover:before, .slick-prev:hover:before {
    border-color: transparent transparent #1c1f2a transparent;
}

/*---------RESPONSIVE-----------*/
@media only screen and (max-width: 1199px) {
    .slick-next {
        right: -30px;
    }
    .slick-prev {
        left: -30px;
    }
}
@media only screen and (max-width: 767px) {
    .slick-prev, .slick-next {
        right: 40%;
        top: 115%;
    }
    .slick-prev {
       left: 40%;
    }
}
@media only screen and (max-width: 475px) {
    .slick-prev, .slick-next {
        right: 35%;
    }
    .slick-prev {
       left: 35%;
    }
}
@media only screen and (max-width: 400px) {
    .slick-prev, .slick-next {
        right: 32%;
    }
    .slick-prev {
       left: 32%;
    }
}